.movie {
  width: 250px;
  max-height: 300px;
  padding: 12px;
  margin: 3px;
  position: relative;
  overflow: scroll;
}

.movies {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.delete-key {
  position: absolute;
  top: 10px;
  right: 15px;
  visibility: hidden;
  cursor: pointer;
}

.movie:hover .delete-key {
  visibility: visible;
}

.searchbar {
  float: right;
}
